<blockquote class="blockquote">
  <p class="mb-0">  <%= comment.body %>
</p>
  <footer class="blockquote-footer"><%= comment.commenter %></footer>
</blockquote>

<p style='border-bottom: 1px solid lightgrey'>   <span> <%= link_to 'Delete', [comment.article, comment], method: :delete,	data:{ confirm: 'Are you sure'} %></span>
</p>

